.skeleton-loader {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  animation: pulse 1.5s infinite;
  grid-row: span 10;
  padding: 30px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;

  &.middle-column {
    grid-row: span 12;
  }
  div:first-of-type {
    width: 130px;
    height: 16px;
    background: #1b1b1b1d;
  }
  div:last-of-type {
    width: 90px;
    height: 16px;
    background: #1b1b1b1d;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
